<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="add_new_habit_title">{{ form_header }}</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm-6 offset-sm-3 align-items-center">
            <form id="add_habit_form" method="post" action="{% url 'add_habit' %}">{% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.habit.id_for_label }}"
                           class="bmd-label-floating">Habit</label>
                    {{ form.habit }}
                    {% if form.habit.help_text %}
                        <small class="form-text text-muted">{{ form.habit.help_text|safe }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.habit_type.id_for_label }}"
                           class="bmd-label-floating">Habit Type</label>
                    {{ form.habit_type }}
                    {% if form.habit_type.help_text %}
                        <small class="form-text text-muted">{{ form.habit_type.help_text|safe }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.hourly_interval.id_for_label }}"
                           class="bmd-label-floating">Interval In Hours</label>
                    {{ form.hourly_interval }}
                    {% if form.hourly_interval.help_text %}
                        <small class="form-text text-muted">{{ form.hourly_interval.help_text|safe }}</small>
                    {% endif %}
                </div>
                <div class="form-group" id="datepicker-container">
                    <label for="{{ form.habit_time.id_for_label }}"
                           class="bmd-label-floating">Daily Habit To Be Done
                        At</label>
                        {{ form.habit_time }}
                    {% if form.habit_time.help_text %}
                        <small class="form-text text-muted">{{ form.habit_time.help_text|safe }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.week_day.id_for_label }}"
                           class="bmd-label-floating">Select Weekdays For
                        Weekly Habit</label>
                    {{ form.week_day }}
                    {% if form.week_day.help_text %}
                        <small class="form-text text-muted">{{ form.week_day.help_text|safe }}</small>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
        <button type="button" onclick="submit_form()" class="btn btn-primary">Save
            changes
        </button>
    </div>
</div>
<style>
    ul {
  list-style-type: none;
}

    .bootstrap-datetimepicker-widget {
        z-index: 1600 !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#id_habit_time').datetimepicker({
            viewMode: 'days',
            format: 'HH:mm'
        }).css({'z-index': '20000 !important'});
        enable_disabled_fields();
        $('#id_habit_type').on('change', function() {enable_disabled_fields();});


    });
    function enable_disabled_fields() {
        if ($('#id_habit_type').val() === '1') {
            $('#id_hourly_interval').removeAttr('disabled');
            $('#id_habit_time').attr('disabled', true);
            $("input[type=checkbox][id^='id_week_day_']").each(function(){
                $(this).attr('disabled', true);
            });
        } else if ($('#id_habit_type').val() === '2') {
            $('#id_hourly_interval').attr('disabled', true);
            $('#id_habit_time').removeAttr('disabled');
            $("input[type=checkbox][id^='id_week_day_']").each(function(){
                $(this).attr('disabled', true);
            });
        } else if($('#id_habit_type').val() === '3') {
            $('#id_hourly_interval').attr('disabled', true);
            $('#id_habit_time').attr('disabled', true);
            $("input[type=checkbox][id^='id_week_day_']").each(function(){
                $(this).removeAttr('disabled');
            });
        }
    }
    function submit_form() {
        $('#add_habit_form').submit()
    }

</script>
