{% extends 'base.html' %}
{% load static %}
{% block css-required %}
    <link rel="stylesheet" href="{% static 'css/habit.css' %}">
{% endblock %}
{% block content %}
    <button type="button" class="btn btn-primary bmd-btn-fab"
            data-toggle="modal"
            data-target="#add_new_habit" title="Add Habit" id="btn_add_habit"
            onclick="add_habit_form()">
    <i class="material-icons">note_add</i>
    </button>
    <h1>List all the habit</h1>

    <!-- Modal -->
    <div class="modal fade" id="add_new_habit" tabindex="-1" role="dialog"
         aria-labelledby="add_new_habit_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" id="add_new_habit_dialog"
             role="document">
        </div>
    </div>

{% endblock %}
{% block js-required %}
    <script>
        var ADD_HABIT = "{% url 'add_habit' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/habit.js' %} "></script>

{% endblock %}