{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if messages %}
        <div class="row">
            <div class="col-sm">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible"
                         role="alert">
                        <button type="button" class="close"
                                data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row text-center">
        <h1 class="text-center">Welcome {{ user }}</h1>
    </div>
    <div class="text-center">
        {% if rewards %}
            <h1>Rewards earned so far</h1>
            {% for reward in rewards %}
                {% if reward.badge == '1' %}
                    <h2>Bronze Badge <span class="badge badge-warning">{{ reward.badge__count }} </span> </h2>
                {% elif reward.badge == '2' %}
                    <h2>Silver Badge <span class="badge badge-secondary">{{ reward.badge__count }} </span></h2>
                {% elif reward.badge == '3' %}
                    <h2>Golden Badge <span class="badge badge-danger">{{ reward.badge__count }} </span></h2>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}