{% extends 'base.html' %}

{% block content %}
  <h2>Sign in</h2>
  <form method="post" action=".">{% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label>{{ field.label_tag }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
{% endblock %}